/* //////////////////////
  Header
  /////////////////////// */

#header {
	padding: 2rem;
	
	.navbar {
		text-align: center;

		p {
			font-weight: 700;
			text-transform: uppercase;
			letter-spacing: 0.2rem;
		}
	} 
}
