@use '../abstracts/mixins' as m;

h1 {
    text-align: center;
    margin-block: 2rem;
    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 5rem;

    @include m.mobile {
        font-size: 3rem;
    }
}

#app {
    @include m.desktop {
        padding-inline: 2rem;
    }

    @include m.mobile {
        padding-inline: 1rem;
    }
}
